body {
    font-family: 'Prompt', sans-serif;
    /* background-color: #EC255A; */
    /* background-image: linear-gradient(to right, #ec255a, #bf0b6a, #8b146f, #521b67, #112b5f); */
}

.wrapper-cover {
    position: relative;
}

.layout-cover {
    width: 100%;
    height: auto;
    position: relative;
}

.box-banner-home {
    border-radius: 10px;
}

.box-banner-home2 {
    border-radius: 0;
}

.box-banner-home,
.box-banner-home2 {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    margin-bottom: 25px;
}

.box-banner-home a,
.box-banner-home2 a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.box-banner-home a img,
.box-banner-home2 a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-logo img {
    width: 10%;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.bg-blur {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    font-size: 25px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    background-color: rgb(0, 0, 0, 0.5);
}

.box-logo {
    position: absolute;
    top: 55px;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 999;
    margin: 0 auto;
}

.box-head {
    overflow: hidden;
}

.box-head ul {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    padding: 0;
    margin: 30px 0;
}

.box-head ul li {
    display: block;
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.count-member,
.target {
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 65px;
    font-weight: bold;
}

.layout-cover .banner-cover img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.box-view {
    margin: 35px 0 30px;
    position: relative;
    text-align: center;
}

.box-view ul li {
    margin-right: 30px;
    font-size: 20px;
}

.box-view li,
.box-view li a {
    display: inline-block;
    color: #c2c2c2;
}

.box-view li::after {
    content: '';
    width: 1px;
    position: absolute;
    height: 12px;
    background-color: #c1c1c1;
    bottom: 4px;
    margin-left: 16px;
}

.box-view img {
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

.box-view img {
    width: 24px;
    height: 24px;
}

.box-view li:last-child::after {
    width: 0;
}

.wrapper-sumary {
    position: relative;
    display: block;
    height: 600px;
}

.banner-cover {
    height: 600px;
}

.layout-sumary {
    position: relative;
}

.layout-sumary .banner-cover img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.card__share {
    float: right;
    position: absolute;
    right: 50px;
    bottom: -25px;
    z-index: 999;
}

.card__social {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 135px;
    transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
}

.card__social--active {
    visibility: visible;
    transform: translateZ(0);
    transform: translateX(-48px);
    transition: transform 0.35s ease;
}

.share-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.share-icon .share {
    background-image: url(../images/share.svg);
}

.card__social li {
    display: inline-block;
}

.card__social li {
    display: inline-block;
}

.card__social li a img {
    width: 40px;
    height: 40px;
}

.card__social li a img:hover {
    transform: scale(1.2);
    transition: 0.6s;
}

.card__share a {
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.card__share .share-icon img {
    width: 30px;
    height: 30px;
    margin: 9px 8px;
}

.btn-vote {
    color: #fff;
    background-color: #0032eb;
}

.wrapper-why,
.wrapper-correct,
.slide-success,
.wrapper-from-vote {
    display: block;
    position: relative;
    overflow: hidden;
}

.wrapper-correct,
.wrapper-lawyer {
    background: linear-gradient(to right, #112b5f 32%, #ed0006 100%);
}

.layout-why,
.layout-correct,
.layout-edit-success,
.layout-from-vote {
    position: relative;
}

.layout-card-why {
    background-color: #fff;
    overflow: hidden;
    margin: 50px 0;
}

.layout-why .why,
.layout-correct .correct,
.layout-edit-success .edit-success,
.layout-from-vote .form-vote {
    margin: 0 0 25px;
    padding: 50px 0;
    font-size: 60px;
    line-height: 70px;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #112b5f 32%, #ed0006 100%);
}

.layout-edit-success .edit-success {
    background-color: #112b5f;
    color: #fff;
}

.box-card-why {
    margin: 50px 0;
    background-color: #fff;
}

.card-why {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 56.25%;
    margin-bottom: 15px;
    overflow: hidden;
}

.card-why a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.card-why a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-card-why-win p,
.box-card-why-lost p {
    color: #112b5f;
    font-size: 20px;
    text-align: left;
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 50px;
    margin: 0 25px;
    padding: 0 0 25px;
}

.box-card-why-win h3,
.box-card-why-lost h3 {
    text-align: center;
    font-weight: bold;
    color: #112b5f;
}

.box-card-why-lost p,
.box-card-why-lost h3 {
    color: #ed0006;
}

.box-img-correct {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    border-radius: 10px;
    margin: 25px 150px;
}

.box-img-correct a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.box-img-correct a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-read,
.btn-share {
    background-color: #112b5f;
    color: #ED0006;
    width: 40%;
    height: 50px;
    display: block;
    margin: 0 auto 50px;
    font-size: 25px;
    border: transparent;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 24%);
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form-vote-sunmit {
    margin: 25px 0 0;
    overflow: hidden;
}

.form-vote-sunmit .proceed {
    display: block;
}

.control-btn p {
    color: #ED0006;
}


/* .form-vote-sunmit .col-sm-6 {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.form-vote-sunmit .col-sm-6 input {
    width: 90%;
} */

.btn-submit {
    background-color: #112b5f;
    color: #ED0006;
    width: 40%;
    height: 50px;
    display: block;
    margin: 0 auto 25px;
    font-size: 25px;
    border: transparent;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 24%);
}

.control-btn {
    margin: 0 0 25px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: center;
}

.layout-box-lawyer {
    margin: 50px 0;
}

.box-lawyer {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto 20px;
    overflow: hidden;
}

.box-lawyer a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-lawyer {
    display: block;
    font-size: 25px;
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}

.caution {
    background-color: #EEEEEE;
    color: #ed0006;
    padding: 25px;
    font-size: 20px;
    text-align: center;
    position: relative;
    margin: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 24%);
}

.box-title-issue {
    margin: 20px 18px;
}

.box-title-issue2 {
    margin: 20px 18px;
}

.box-title-issue h1,
.box-title-issue2 h1 {
    font-size: 50px;
    line-height: 65px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #112b5f;
}

.box-title-issue label,
.box-title-issue2 label,
.photo-bum {
    font-size: 22px;
    color: #ED0006;
    margin: 0;
    font-weight: 400;
}

.box-title-issue label strong,
.box-title-issue2 label strong {
    font-weight: 700;
}

.close-read {
    position: absolute;
    top: 0;
    color: #fff;
    right: 0;
    background-color: #000;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 1px;
}

.box-detail {
    padding: 20px 0;
    background-color: #fff;
}

.box-detail p {
    font-size: 22px;
    line-height: 30px;
    margin: 0 150px;
    color: #000;
}

.hot-issue img {
    position: relative;
    height: 14px;
    top: -3px;
}

.error,
.text-red {
    color: #ff0000;
    font-size: 16px;
}

.error,
.remark {
    font-weight: 400;
    margin: 5px auto 0;
    font-size: 14px;
    color: #ff0000;
}

.slide-success {
    padding-left: 0;
}

.slide-success .slick-next,
.slide-success .slick-prev {
    display: none;
}

.layout-box-lawyer label {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

.nopaddingright {
    padding-right: 0;
}

.nopaddingleft {
    padding-left: 0;
}

.box-photo-comment {
    margin-left: 0;
    margin-right: 15px;
    margin-left: 0;
}

.img-comment img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-comment {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.wrapper-photo {
    margin: 25px 0 50px;
}

.photo-bum {
    margin-bottom: 15px;
}

.box-progress {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin: 25px 0;
}

.box-progress .progress {
    background-color: #112b5f;
    border-radius: 10px;
    text-align: center;
}

.layout-progress {
    background-color: #EEEEEE;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 24%);
}

.layout-progress span {
    font-size: 22px;
    font-weight: bold;
    color: #ED0006;
}

.modal-addform .modal-dialog,
.modal-confirm .modal-dialog {
    display: flex;
    align-items: center;
    width: 600px;
    margin: 1.75rem auto;
    min-height: calc(100% - 3.5rem);
}

.modal-addform .modal-header,
.modal-addform .modal-footer {
    border-top: transparent;
    padding: 15px;
    border-bottom: transparent;
}

.modal-addform .modal-body {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
}

.modal-addform .modal-footer {
    text-align: center;
}

.modal-addform .btn-agree,
.modal-addform .btn-notagree {
    width: 200px;
    height: 50px;
    font-size: 22px;
    line-height: 35px;
    background-color: #0032eb;
    color: #fff;
    border: transparent;
    margin: 0 15px;
    border-radius: 10px;
}

input[type=checkbox] {
    width: 19px;
    height: 19px;
    margin-right: 5px;
    vertical-align: middle;
    margin-left: 15px;
}

.photo-show {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    border-radius: 10px;
    margin: 0 150px;
}

.photo-show a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.photo-show a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-seeall {
    display: block;
}

.box-seeall .see-all {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #112b5f;
    text-align: center;
    margin: 25px 0 0;
}

.content p {
    font-size: 16px;
    line-height: 24px;
}

.content p.openingsentence {
    font-size: 18px;
    line-height: 27px;
}

.content .container {
    width: 960px;
}

.email-consent {
    display: block;
    margin: 0 15px 10px !important;
}

.img-example {
    display: block;
    text-align: center;
}

.btn-agree,
.btn-notagree,
.btn-confirm,
.btn-download {
    background-color: #112b5f;
    color: #ED0006;
    width: 200px;
    height: 50px;
    margin: 0 10px 25px;
    font-size: 22px;
    border: transparent;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 24%);
}

.btn-agree,
.btn-download {
    /* background-color: #EEEEEE;
    border: 2px solid #EEEEEE; */
    color: #ED0006;
}

.modal-confirm .modal-footer {
    padding: 15px;
    text-align: center;
    border-top: transparent;
}

.img-example {
    display: block;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.modal-confirm .modal-body {
    text-align: center;
}

.img-example a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-warn .complete img,
.modal-warn .incomplete img {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
}

.modal-warn .complete,
.modal-warn .incomplete {
    display: block;
    font-size: 26px;
    margin: 50px 0;
    text-align: center;
}

.modal-warn .complete {
    color: #4CAF50;
}

.modal-warn .incomplete {
    color: #ff0000;
}

.modal-warn .modal-header {
    padding: 15px;
    border-bottom: transparent;
}

.modal-warn .modal-footer {
    border-top: transparent;
}

.layout-from-vote label {
    display: block;
}