@media (max-width:991px) {
    .btn-submit {
        background-color: #01e400;
        color: #fff;
        width: 40%;
        height: 50px;
        display: block;
        margin: 0 auto 25px;
        font-size: 18px;
        border: transparent;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 24%);
    }
}

@media (max-width:768px) {}

@media (max-width: 767px) {
    .modal-addform .modal-dialog,
    .modal-confirm .modal-dialog {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .wrapper-cover {
        position: relative;
        display: block;
        height: 550px;
    }
    .layout-cover img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
    }
    .box-logo img {
        width: 100px;
    }
    .layout-why .why,
    .layout-correct .correct,
    .layout-edit-success .edit-success,
    .layout-from-vote .form-vote {
        margin: 0;
        padding: 30px 0;
        font-size: 30px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        background-color: #0032eb;
    }
    .wrapper-cover {
        height: auto;
    }
    .wrapper-sumary {
        height: 400px;
    }
    .banner-cover {
        height: 400px;
    }
    .box-logo {
        top: 25px;
    }
    .box-head ul li {
        font-size: 30px;
    }
    .caution {
        margin: 12px;
        font-size: 12px;
    }
    .box-title-issue h1,
    .box-title-issue2 h1 {
        font-size: 25px;
        line-height: 30px;
        font-weight: bold;
    }
    .box-title-issue label,
    .box-title-issue2 label {
        font-size: 12px;
        color: #c1c1c1;
        font-weight: 400;
    }
    .box-img-correct {
        height: 250px;
    }
    .slide-success .slick-arrow,
    .slide-success .slick-arrow {
        display: none !important;
    }
    .slide-success .slide-arrow,
    .slide-success .slide-arrow {
        width: 40px;
        height: 40px;
        border: transparent;
        border-radius: 100%;
        overflow: hidden;
        text-indent: 900px;
        background-repeat: no-repeat;
        background-size: 15px;
        background-color: transparent;
        position: absolute;
        top: 40%;
    }
    .slide-success .slick-prev {
        background-image: url(../images/previous.png);
        background-position: center center;
        left: 0;
    }
    .slide-success .slick-next {
        background-image: url(../images/next.png);
        background-position: center center;
        right: 0;
    }
    .wrapper-edit-success .col-sm-6,
    .wrapper-why .container,
    .wrapper-edit-success .container,
    .wrapper-form-vote .container {
        padding-left: 0;
        padding-right: 0;
    }
    .box-card-why p {
        padding: 0 15px;
        font-size: 16px;
        text-align: left;
        margin-bottom: 40px;
        color: #000;
    }
    .layout-box-lawyer {
        margin-bottom: 150px;
    }
    .layout-box-lawyer label {
        font-size: 20px;
        line-height: 30px;
    }
    .img-comment {
        height: auto;
        margin-bottom: 10px;
    }
    .box-detail p {
        font-size: 14px;
        line-height: 22px;
        margin: 0;
    }
    .btn-read,
    .btn-share,
    .btn-submit {
        height: 50px;
        font-size: 20px;
        margin: 0 auto 20px;
    }
    .btn-submit,
    .btn-read {
        width: 90%;
    }
    .layout-progress {
        padding: 15px;
    }
    .layout-progress span {
        font-size: 18px;
    }
    .modal-addform .modal-dialog {
        width: 90%;
    }
    .modal-addform .modal-body {
        font-size: 25px;
        line-height: 35px;
    }
    .box-card-why {
        margin: 0 0;
    }
    /* .box-img-correct {
        border-radius: 0;
    } */
    .wrapper-box-img .container {
        margin: 0;
    }
    .control-btn {
        width: 100%;
        padding-bottom: 0;
        text-align: center;
    }
    .form-vote-sunmit {
        margin: 15px;
    }
    .layout-from-vote p {
        margin: 0 15px 15px;
    }
    .card__share {
        right: 35px;
    }
    .box-detail {
        margin: 0 15px;
    }
    .box-title-issue2 {
        margin: 0;
    }
    .img-example {
        display: block;
        width: 200px;
        height: 200px;
    }
    .btn-agree,
    .btn-notagree {
        width: 130px;
        height: 50px;
        margin: 0 5px 25px;
        font-size: 18px;
    }
    .btn-confirm,
    .btn-download {
        width: 155px;
        height: 50px;
        margin: 0 5px 25px;
        font-size: 18px;
    }
    .modal-warn .complete img,
    .modal-warn .incomplete img {
        width: 50px;
        height: 50px;
    }
    .modal-warn .complete,
    .modal-warn .incomplete {
        margin: 0;
        font-size: 21px;
    }
}