body {
    font-family: 'Prompt', sans-serif;
}
.layout-form-th,
.layout-form-check {
    position: relative;
    margin: 50px 0;
}

.wrapper-form-th h1,
.wrapper-form-check {
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
}

.wrapper-form-help h1,
.wrapper-form-allmember h1 {
    margin-bottom: 50px;
    text-align: center;
    color: #000;
}

.error,
.remark {
    font-weight: 400;
    margin: 5px auto 0;
    font-size: 14px;
    color: #ff0000;
}

.email-consent a {
    color: #00AA4E;
}

.email-consent {
    display: inline-block;
    margin: 10px 0 10px !important;
    color: #fff;
}

.form-vote-sunmit {
    margin: 25px 0 0;
    overflow: hidden;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
}

input[type=checkbox] {
    width: 19px;
    height: 19px;
    margin-right: 5px;
    vertical-align: middle;
    /* margin-left: 15px; */
    color: #fff !important;
}

.row.form-group {
    color: #fff;
}

.box-lawyer {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto 20px;
    overflow: hidden;
}

.box-lawyer a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-apply,
.btn-send {
    display: block;
    background-color: #00AA4E;
    color: #fff;
    width: 200px;
    height: 50px;
    margin: 0 auto 25px;
    font-size: 22px;
    border: transparent;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 24%);
}

.avatar-upload {
    position: relative;
    max-width: 150px;
    margin: 50px auto 25px;
}

.avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-edit input {
    display: none;
}

.avatar-edit label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.avatar-edit label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-edit label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 100%;
    border: transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-preview #imagePreview {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box-qr {
    display: block;
    width: 300px;
    height: 300px;
    margin: 25px auto;
}

.box-qr img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-name {
    margin-bottom: 25px;
}

.box-name label {
    font-size: 26px;
    line-height: 34px;
    font-weight: bold;
}

.box-name label,
.box-name .province,
.box-name .county {
    display: block;
    text-align: center;
    color: #fff;
}

.box-name .province,
.box-name .county {
    font-size: 20px;
}

.box-help {
    display: block;
}


/* .box-help ul {
    display: block;
    padding: 0 0 0 0;
} */

.box-help .box-detail {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    /* padding: 10px; */
    text-decoration: none;
    background-color: #333;
    color: #fff;
    margin: 0;
    /* border-radius: 20px; */
}

.box-detail label {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    top: 15px;
    right: 15px;
    background-color: #00AA4E;
    color: #fff;
    font-size: 14px;
    padding: 3px;
}

.box-detail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-bg {
    background-color: #3D58A2;
    padding: 20px;
}

.box-bg-member {
    background-color: #00AA4E;
    padding: 20px;
}

.box-another {
    display: block;
    width: 60%;
    text-align: center;
    margin: 50px auto;
}

.modal-dialog {
    width: 400px;
    margin: 30px auto;
}

.register-modal .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: transparent;
    border: transparent;
    border-radius: 10px;
    padding: 0;
    outline: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}

.register-modal .modal-header {
    padding: 0;
    border-bottom: 0px solid #e5e5e5;
    width: 100%;
    overflow: hidden;
}

.register-modal .box-header {
    width: 100%;
    height: 200px;
}

.register-modal .box-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register-modal .modal-header .close {
    position: absolute;
    top: 0;
    right: 20px;
    color: #fff;
}

.nopaddingright {
    padding-right: 0;
}

.nopaddingleft {
    padding-left: 0;
}

.member,
.position {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 34px;
}

.box-detail.active {
    border: 4px solid #00AA4E;
}

.box-logo-search {
    display: block;
    /* width: 200px; */
    margin: 25px auto 40px;
    padding: 10px;
    /* background-color: #fff; */
}

.box-logo-search a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layout-search {
    display: block;
    position: relative;
    margin: 10px 100px 30px;
}

.box-search .form-control {
    box-shadow: 0 0 9px 2px rgb(0 0 0 / 20%);
    border: 0;
    height: 50px;
    padding: 15px 23px;
    font-size: 18px;
    margin: 0 auto 15px;
}

.box-search button.btn-pin {
    width: 100px;
    height: 50px;
    background-color: #00AA4E;
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    color: #fff;
}

.box-search .btn-search {
    display: block;
    width: 100px;
    height: 50px;
    background-color: #00AA4E;
    border: none;
    margin: 15px auto;
    background-size: 20px;
    position: relative;
    border-radius: 10px;
    color: #fff;
}

.modal-information .modal-footer,
.modal-choose .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: transparent;
}

.modal-information .modal-header,
.modal-choose .modal-header {
    padding: 15px;
    border-bottom: transparent;
}

.btn-go-help,
.btn-go-registor {
    display: block;
    margin: 0 auto 15px;
    width: 250px;
    height: 50px;
    color: #fff;
    border: transparent;
}

.btn-go-help {
    background-color: #00AA4E;
}

.btn-go-registor {
    background-color: #3D58A2;
}

.modal-choose .modal-body {
    text-align: center;
}

.modal-choose .modal-title,
.modal-information .modal-title {
    margin: 0;
    line-height: 1.42857143;
    text-align: center;
    font-size: 30px;
}

.modal-choose .modal-dialog,
.modal-information .modal-dialog {
    margin: 266px auto;
}

.modal-information .modal-dialog {
    margin: 225px auto;
}

.box-information {
    padding-right: 15px;
}

.modal-information .email-consent {
    display: inline;
    color: #000;
    font-size: 14px;
    line-height: 24px;
}

.modal-information .row.form-group {
    margin: 0;
}

.modal-information input[type=checkbox] {
    margin-left: 0;
}

.btn-save,
.btn-delete,
.btn-registor {
    width: 200px;
    height: 50px;
    border: transparent;
    color: #fff;
    margin: 0 5px;
}

.btn-save {
    background-color: #00AA4E;
}

.btn-delete {
    background-color: #ff0000;
}

.btn-registor {
    background-color: #3D58A2;
}

.btn-control {
    margin: 25px 0;
}

.modal-warn .incomplete {
    color: #ff0000;
}

.modal-warn .complete img,
.modal-warn .incomplete img {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
}

.modal-warn .modal-header {
    padding: 15px;
    border-bottom: transparent;
}

.modal-warn .modal-footer {
    border-top: transparent;
}

.modal-warn .complete,
.modal-warn .incomplete {
    display: block;
    font-size: 26px;
    margin: 50px 0;
    text-align: center;
}

.modal-warn .modal-dialog {
    width: 600px;
}

.lds-ring {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px;
    border: 6px solid #707070;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #707070 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box-allmember {
    margin: 50px 0 100px;
}

.box-allmember .box-qr {
    width: 150px;
    height: 150px;
}

.box-allmember .avatar-upload {
    position: relative;
    max-width: 100px;
    margin: 20px auto 20px;
}

.box-allmember .avatar-preview {
    width: 100px;
    height: 100px;
}

.box-allmember .box-bg {
    margin-bottom: 25px;
}
.box-user-county{
    display: block;
    width: 100%;

}

.user-county{
display: block;
width: 150px;
height: 150px;
border-radius: 100%;
overflow: hidden;
position: relative;
margin: 0 auto;
}
.user-county a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.county-detail{
    color: #000;
}
.county-detail ul{
    padding: 0;
}
.county-detail ul li{
    list-style-type: none;
    color: #000;
    font-weight: bold;
}
.county-detail ul li:first-child{
    font-size: 18px;
    margin-top: 20px;
}
.county-detail ul li:last-child{
    font-size: 12px;
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .layout-search .w3-white{
    background-color: #00AA4E !important;
    color: #fff !important;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;


  }
  .well {
    min-height: 20px;
    padding: 19px;
    margin: 50px 0;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}

.layout-search .w3-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 200px;
    margin: 0;
    padding: 0;
    z-index: 1;
    max-height: 180px;
    overflow: scroll;
}
.w3-dropdown-hover:first-child, .w3-dropdown-click:hover{
    background-color: transparent !important;
}
.box-logo-search h1 img{
    width: 20px;
    height: 20px;
}
.active{
    position: relative;
}
.btn-prom{
    display: block;
    background-color: #ff0000;
    color: #fff;
    width: 200px;
    height: 50px;
    margin: 0 auto 25px;
    font-size: 22px;
    border: transparent;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 24%);
}
.problem-red{
    width: 100%;
    height: 100px;
    background-color: #ff0000;
    color: #fff;
    font-size: 25px;
    border-radius: 10px;
    border: transparent;
    margin-bottom: 20px;
}
.box-help .box-detail2{
    background-color: transparent;
}